.dropdown {
  position: absolute;
  top: 55px;
  width:200px;
  /* transform: translateX(-45%); */
  background-color: #1f2833;
  border: 1px solid #45a29e;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  z-index: 1000000;
}