.navbar {
  height: 60px;
  background-color: aqua;
  padding: 0 1rem;
  border-bottom: 1px solid rebeccapurple;
}

.navbar-nav {
  max-width: 100;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}